body{
    margin:0;
    padding:40px;
    color:#212121;
    font-size:16px;
    line-height:1.6;
    font-family:"merriweather";
}

.container{
    max-width:800px;
    margin:0 auto;
}

h1{
    text-align:left;
    font-size:36px;
    margin-bottom:40px;
    color:#942A2C;
    font-family:"playfairDisplay";
}

h2{
    font-size:30px;
    color:#942A2C;
    font-family:"playfairDisplay";
}

td {
    padding-bottom: 5mm;
}

.course-header{

    padding-top: 10mm;

}

.category-table-image{

    width:25%; 
    text-align:left;

}

.category-table-content{

    width:75%; 
    padding-left:8mm; 
    padding-right:10mm;
    vertical-align: top;

}

.dish-table{

    padding-top: 5mm;

}

.dish-price{

    vertical-align: top;
    text-align: right;
    font-size: 20px;

}

.dish-name{
    font-size: 20px;
}

.menu{
    margin-top:20px;
    width:100%;
    border-collapse:collapse;
}


.menu td{
    padding:4px 0;
    vertical-align:top;
}


.menu .title{
    font-weight:bold;
}


.menu .price{
    text-align:right;
    font-weight:bold;
    white-space:nowrap;
}


.description{
    font-size:14px;
    margin-bottom: 5mm;
    color:#942A2C; 
}

.moreInfo{

    font-size:12px;
    margin-bottom: 5mm;
    color:black; 

}


tfoot{
    text-align:center;
    margin-top:60px;
    font-size:13px;
    color:#666;
}